{
  "arrowParent": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "formatOnSave": false,
  "jsxSingleQuote": true,
  "printWidth": 1000,
  "proseWrap": "never",
  "quoteProps": "preserve",
  "requireConfig": true,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "none",
  "trimTrailingWhitespaces": true,
  "useTabs": false,
  "wrapAttributes": "aligned-multiple"
}